.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.tab {
  background-color: var(--white);
  color: var(--black);
  padding: 10px;
  border-radius: 6px;
}

.show {
  opacity: 1;
  visibility: visible;
}

.hide {
  opacity: 0;
  visibility: hidden;
}
